

h3 {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 35px;
}
body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

button, input {
    border: none;
    padding: 20px;
    color: rgb(45, 45, 45);
    background-color: rgb(247, 243, 243);
    margin: 5px;
    font-family: 'Oswald', sans-serif;
}

button:active {
    background-color: rgb(227, 225, 225) ;
}



input:focus {
    outline: 2px solid blue;
    border: none;
}
footer {
    position: absolute;
    bottom: 20px;
    right: 30%;
    left: 30%;
}

#buttonContainer {
    display:flex;
    justify-content: center;
    align-items: center;
}